/* src/App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
}

.app-container {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #4a90e2;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  direction: rtl;
}